.bodyCuadrosHelp{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 70px;
  overflow: hidden;
}

.containerCuadros{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  padding-bottom: 20px;
}

.row{
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.hide{
  display: none;
}

.textCuadro{
  width: 100%;
  display: auto;
  visibility: visible;
  padding: 10px;
  opacity: 1;
  
}

.textCuadro.active{
  display: none;
}

.cuadro{
  margin: 10px 0;
  padding: 5px;
  padding-bottom: 20px;
}

.cuadro:hover {
  box-shadow: 5px 10px 20px 5px rgba(250, 248, 248, 0.952) !important;
  transition: all 0.7s linear;
}
.overflow {
  overflow: hidden;
}
.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.5);
}