.bodyFacturacion{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
/* Inicio Style Titulo */
.conteTitleFactueacion{
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(100, 122, 243);
}

.conteTitleFactueacion h1{
    font-size: 3em;
    padding: 2px 30px;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
    background: rgba(239, 223, 223, 38%);
}

.conteTitleFactueacion .backToHome{
    position: absolute;
    left: 50px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}

.conteTitleFactueacion .backToHome:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    color: white;
    background: blue;
}

/* Inicio Style Form */
.contetFormFact{
    width: 90%;
    padding: 10px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detallFactTien{
    width: 50%;
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detallFactTien .contInput{
    width: 100%;
    text-align: center;
}

.detallFactTien .contInput label{
    margin: 5px 0px;
    margin-right: 5px;
    padding: 10px 5px;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(233, 230, 230);
}

.detallFactTien .contInput.extends input{
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(22, 21, 21);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin: 5px 0px;
    background: white;
}

.detallFactTien .contInput input{
    width: 250px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(22, 21, 21);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin: 5px 0px;
    background: white;
}

.formDetallFactura .contInput p{
    width: 250px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(22, 21, 21);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin: 5px 0px;
    background: white;
}

.formDetallFactura .contInput{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.formDetallFactura .contInput label{
    width: 150px;
    text-align: end;
}

/* Inicio Style button FinalizarCompra */
.btnFinalizarCompra{
    position: fixed;
    bottom: 5px;
    width: 95%;
    padding: 10px 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgb(122, 121, 121);
    background: rgba(10, 52, 139, 69%);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnFinalizarCompra .btnFinCompra{
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    background: white;
    box-shadow: 0px 0px 10px rgba(37, 36, 36, 0.445);
}

.btnFinalizarCompra .btnFinCompra:hover{
    color: white;
    background: rgba(0, 38, 255, 0.445);
    box-shadow: 2px 5px 10px rgba(0, 49, 95, 0.445);
}

.btnFinalizarCompra .backTop{
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    flex: none;
    box-shadow: 0px 0px 10px rgba(37, 36, 36, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: white;
    text-decoration: none;
    color: black;
}

.btnFinalizarCompra .backTop:hover{
    color: white;
    background: rgba(0, 38, 255, 0.445);
    box-shadow: 2px 5px 10px rgba(0, 49, 95, 0.445);
}

/* Inicio Style Tabla datos */
.contProductFact{
    padding: 0px 10px;
    width: 100%;
    flex: none;
}

.contProductFact table{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(24, 22, 22, 0.445);
    padding: 10px 5px 12px 5px;
    margin-bottom: 20px;
    background: #eeebeb;
    flex: none;
    overflow: hidden;
    overflow-x: auto;
}

.contProductFact table tr th{
    border-bottom: 1px solid gray;
    font-size: 1.8em;
}

.contProductFact table tbody{
    overflow-y: auto;
}

.contProductFact table tr td{
    border-bottom: 1px solid rgb(173, 166, 166);
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.5em;
    text-align: center;
}

.contProductFact table tr .itemProductFact{
    text-align: left;
    padding-left: 5px;
}

.contProductFact table tr .itemAccionFact{
    width: 180px;
    flex: none;
}

.contProductFact table tr td button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0px 3px;
    border: none;
}

.contProductFact table tr td button.btnAdd{
    background: rgb(170, 170, 238);
}

.contProductFact table tr td button.btnMin{
    background: rgb(101, 240, 182);
}

.contProductFact table tr td button.btnDel{
    background: #fca16d;
}

.contProductFact table tr td button:hover{
    box-shadow: 0px 0px 10px rgba(24, 22, 22, 0.445);
    color: white;
}

.contProductFact table tr td button.btnAdd:hover{
    background: rgb(15, 103, 155);
}

.contProductFact table tr td button.btnMin:hover{
    background: rgb(5, 129, 61);
}

.contProductFact table tr td button.btnDel:hover{
    background: #ff0000;
}

/*Modal*/
.modalContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(24, 22, 22, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 500px;
    height: 550px;
    border-radius: 10px;
    padding: 10px 15px;
    background: white;
    overflow: hidden;
}

.modal h2{
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
    height: 20px;
    font-weight: 700;
}

.detallerFactura{
    width: 100%;
    height: calc(100% - 65px);
    overflow: hidden;
}

.btnConfirmarFactura{
    width: 100%;
    height: 40px;
    text-align: end;
}

.btnConfirmarFactura button{
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(24, 22, 22, 0.445);
    padding: 5px 10px;
    margin-top: 5px;
}
